.hero-image-container {
  width: 100vw;
  height: 100%;
  position: relative;

}

.hero-image {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.hero-overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.4;
  background: rgb(236, 233, 233);
}

.title {
  width: 100vw;
  padding-top: 20vh;
  text-align: center;
  color: #061A2F;
  font-size: 6vw;
  font-family: 'Over the Rainbow', cursive;
  font-weight: 400;
  word-wrap: break-word;
  position: relative;
  z-index: 2;
}

.description {
  width: 100vw;
  padding-left: 10vw;
  padding-right: 10vw;
  text-align: center;
  color: black;
  font-size: 2vw;
  font-family: 'oregano', sans-serif;
  font-weight: 5;
  word-wrap: break-word;
  margin-top: 2vh;
  position: relative;
  z-index: 1;
}

/* Button Styles */

.button {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 5vh;
  left: 50%;
  transform: translateX(-50%); /* Centers the button horizontally */
  color: #1ABC9C;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 5px;
  font-size: 1.5vw;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.9);
  overflow: hidden;
  z-index: 2;
  background-color: #D8F4FB ;
}


.button span {
  position: absolute;
  display: block;
}

.button span:nth-child(1),
.button span:nth-child(3) {
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, #0c002b, #1ABC9C);
  animation: animate1 2s linear infinite;
}

.button span:nth-child(2),
.button span:nth-child(4) {
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, #0c002b, #1ABC9C);
  animation: animate2 2s linear infinite;
}

@keyframes animate1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes animate2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
