.container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 40px;
  width:100vw;
  box-sizing: border-box;
  gap: 2%; /* This will ensure a gap between both columns and rows */
}

.box {
  flex: 1 1 calc(33.33% - 2%); /* Adjust width to account for the gap */
  position: relative;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 2%; /* Vertical gap between rows */
  transition: 0.5s ease;
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease;
}

.box span {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3.8vh;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  text-align: center;
  line-height: 1.6;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 10px;
}

.box:hover {
  transform: scale(1.05);
}

.box:hover img {
  filter: brightness(70%);
}
